body{
  background-image:url(paper2.jpg) ;
  color:SlateBlue;
  max-width:100%;
}
#controls{
  position:relative;
  left:0%;
  font-size:25px;
  color:SlateBlue;
}
#mainCanvas{
  position:relative;
  left:0%;
  top: 20%;
}

.script1{
  height: 100%;
  width:20rem;
}
.navbar{
  background-color:#E91E63!important;
  font-size: 1.5rem;
  margin:0px 0px;
}
.navbar-right{
    color:#ffffff!important;
}
.info{
  font-size: 1.45rem;
}
.navbar-brand{
    color:#ffffff!important;
      font-size: 2.2rem;
      position: relative;
}
.dev{
    color:#ffffff!important;
}
.prog{
    color:#ffffff!important;
}
.eng{
    color:#ffffff!important;
}
.about{
    color:#ffffff!important;
}

.devskill{
  height:15rem;
  width:25rem;
}
.code{
  height:15rem;
  width:25rem;
}
.comp{
  height:15rem;
  width:25rem;
}
